<?xml version="1.0"?>
<launch>
  	<arg name="lite" default="true" />
    <arg name="inter_arg" default="1" />
    <arg name="gara" default="true" />
    <arg name="load_aruco" default="false" />
    <arg name="node_start_delay" default="2.0" />
    <arg name="gazebox" default="false" />

	<!-- reset objective at launch -->
	<param name="objective" type="int" value="0" />
    <param name="interface" type="str" value="$(arg inter_arg)"/>
    <param name="gara" type="str" value="$(arg gara)"/>
    <param name="load_aruco" type="bool" value="$(arg load_aruco)"/>
    <param name="gazebox" type="bool" value="$(arg gazebox)"/>

	<!-- LOGIC -->
	<include 
	file="$(find arm_logic)/launch/logic.launch">
	</include>


	<!-- VISION -->
	<include 
	file="$(find arm_vision)/launch/vision.launch">
	</include>


    <!-- CONTROL -->
	<include 
	file="$(find arm_control)/launch/control.launch">
	</include>
    <!-- <node 
    name="ERC" 
    pkg="arm_control" 
    type="ERC" 
    respawn="false" 
    output="screen" 
    launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " /> -->

	<!-- RVIZ-->
	<include unless="$(arg lite)"
	file="$(find ur3_moveit_config)/launch/moveit_rviz.launch">
	<arg name="config" default="true"/>
	<!-- include launch of correct model if gara or whatever-->
	</include>
	
	<group unless="$(arg gara)">
	<!-- SIM MOVEIT -->
		<include 
		file="$(find ur3_moveit_config)/launch/ur3_moveit_planning_execution.launch">
		<arg name="sim" default="true"/>
		</include>
	<!-- SIM GRIPPER -->
		<!-- <node
		name="move_group_python_gripper"
		pkg="simulation" 
		type="gripper.py"   
		output="screen"
		/> -->
	</group>

</launch>
